.options{
    position: absolute;
    top: 3%;
    right: 0%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}


.option-details{
    position: relative;
    display: flex;
    align-items: center;
}

.option-details>span{
    margin-right: 8px;
}

#details{
    width: 65px;
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background: #121212;
    border-radius: 2px;
    color: white;
}

.option-details>img{
    right: 0%;
}